/* Reset */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}

.container-left-img{
  width: 840px;
  height: 720px;
}

.container-rigth{
   justify-content: flex-end;
}

.header{
    width: 433px;
    color: #e71919;
    font-family: Assistant;
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: 84px; 
    align-items: flex-start;
    justify-content: flex-end;
}

.container-rigth-h3{
  
}

